<?xml version="1.0"?>
<configuration>
  <configSections/>
  <system.webServer>

    <caching>
      <profiles>
        <remove extension=".js"/>
        <remove extension=".html"/>
        <remove extension=".htm"/>
        <remove extension=".css"/>
      </profiles>
    </caching>


    <!-- Rewrite for SSL -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^[^www]" />
              <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>


    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>

    <!--
      Force Files to Download (Not Open in Browser)

      AddType application/octet-stream .csv
      AddType application/octet-stream .xls
      AddType application/octet-stream .doc
      AddType application/octet-stream .avi
      AddType application/octet-stream .mpg
      AddType application/octet-stream .mov
      AddType application/octet-stream .pdf
    -->
    <staticContent>
      <!-- locales que sustituyen a las heredadas -->
      <remove fileExtension=".orm"/>
      <remove fileExtension=".code"/>
      <remove fileExtension=".update"/>
      <remove fileExtension=".cloud"/>

      <remove fileExtension=".webp"/>
      <remove fileExtension=".webm"/>
      <remove fileExtension=".weba"/>
      <remove fileExtension=".zip"/>
      <remove fileExtension=".7z"/>
      <remove fileExtension=".rar"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".mkv"/>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".mpg"/>
      <remove fileExtension=".avi"/>
      <remove fileExtension=".mp3"/>
      <remove fileExtension=".ova"/>
      <remove fileExtension=".pdf"/>
      <remove fileExtension=".txt"/>
      <remove fileExtension=".wav"/>
      <remove fileExtension=".xlsx"/>
      <remove fileExtension=".xls"/>
      <remove fileExtension=".doc"/>
      <remove fileExtension=".docx"/>
      <remove fileExtension=".exe"/>
      <remove fileExtension=".xml"/>
      <remove fileExtension=".pptx"/>
      <remove fileExtension=".ppt"/>
      <remove fileExtension=".pps"/>
      <remove fileExtension=".ppsx"/>
      <remove fileExtension=".json"/>

      <mimeMap fileExtension=".orm" mimeType="text/xml"/>
      <mimeMap fileExtension=".code" mimeType="text/xml"/>
      <mimeMap fileExtension=".update" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".cloud" mimeType="application/octet-stream"/>

      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".weba" mimeType="audio/webm"/>
      <mimeMap fileExtension=".zip" mimeType="application/zip"/>
      <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed"/>
      <mimeMap fileExtension=".rar" mimeType="application/x-rar-compressed"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>
      <mimeMap fileExtension=".ttf" mimeType="font/ttf"/>
      <mimeMap fileExtension=".eot" mimeType="font/eot"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".mkv" mimeType="video/x-matroska"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".mpg" mimeType="video/mpeg"/>
      <mimeMap fileExtension=".avi" mimeType="video/x-msvideo"/>
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
      <mimeMap fileExtension=".ova" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".pdf" mimeType="application/pdf"/>
      <mimeMap fileExtension=".txt" mimeType="text/plain"/>
      <mimeMap fileExtension=".wav" mimeType="audio/x-wav"/>
      <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel"/>
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.ms-excel"/>
      <mimeMap fileExtension=".doc" mimeType="application/msword"/>
      <mimeMap fileExtension=".docx" mimeType="application/msword"/>
      <mimeMap fileExtension=".exe" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml"/>
      <mimeMap fileExtension=".pptx" mimeType="application/vnd.ms-powerpoint"/>
      <mimeMap fileExtension=".ppt" mimeType="application/vnd.ms-powerpoint"/>
      <mimeMap fileExtension=".pps" mimeType="application/vnd.ms-powerpoint"/>
      <mimeMap fileExtension=".ppsx" mimeType="application/vnd.ms-powerpoint"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>

    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <add value="index.html"/>
        <add value="index.htm"/>
      </files>
    </defaultDocument>

    <!-- CORS -->
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="X-Powered-By" value="PROIECTO"/>
        <add name="Cache-Control" value="no-cache"/>
      </customHeaders>
    </httpProtocol>

    <directoryBrowse enabled="false"/>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
  
    <security>

      <requestFiltering allowDoubleEscaping="true">
        <!--
            For IIS7: maxAllowedContentLength
            maxAllowedContentLength is measured in bytes
            If you are using IIS your application, then the default upload file size if 4MB. To increase it, please use this below   section in your web.config
            According to MSDN maxAllowedContentLength its maximum value is 4,294,967,295 bytes = 3,99 gb
            By default maximum upload size is set to 4096 KB (4 MB) by ASP.NET.
            If you need to upload files larger than 2Gb you must implement resumable upload interfaces and upload files with segments.
              67108864 = 64MB
              268435456 = 256MB
        -->
        <requestLimits maxAllowedContentLength="67108864"/>
      </requestFiltering>
    </security>

    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <globalization culture="es" uiCulture="es" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--
      maxRequestLength is measured in kilobytes
      httpRuntime targetFramework="4.7.1" maxRequestLength="268435456" requestValidationMode="4.0" requestLengthDiskThreshold="268435456" executionTimeout="420"

      maxRequestLength is measured in kilobytes. Default Upload Size Limit is 4MB. 
      You can change it by adding following setting in system.web in web.config. 
      Example for 20MB the setting will be: <httpRuntime executionTimeout="240" maxRequestLength="20480" />

        3,145,728   =  3,072 Kb   = 3 MB
        67,108,864  =  65,536 Kb  = 64 MB
        134,217,728 =  131,072 Kb = 128 MB
        268,435,456 =  262,144 Kb = 256 MB

        MaxQueryStringLength Property: Gets or sets the maximum possible length, in number of characters, of a query string in an HTTP request. The default is 2048.
        Extremely small values can make a Web site unusable.
    -->
    <httpRuntime 
      maxRequestLength="67108864" 
      requestLengthDiskThreshold="67108864" 
      executionTimeout="420" 
      maxQueryStringLength="2000"/>

	<!--
		CustomErrors supports the following modes:
		On – If defaultRedirect is specified, they will see that content. 
			Otherwise the default error screen with fewer details.
		Off – Detailed error details will be shown to the user.
		RemoteOnly – 	Default value. Detailed errors only are shown to local users. 
					Remote users receive custom error screens or fewer details.
	-->
    <customErrors mode="Off" defaultRedirect="~/pages/customErrors/index.html">
	 <error statusCode="404" redirect="~/pages/customErrors/404.html"/>

      <error statusCode="401" redirect="~/pages/customErrors/401.html"/>
      <error statusCode="403" redirect="~/pages/customErrors/403.html"/>
      <error statusCode="405" redirect="~/pages/customErrors/405.html"/>
      <error statusCode="406" redirect="~/pages/customErrors/406.html"/>
      <error statusCode="412" redirect="~/pages/customErrors/412.html"/>
      <error statusCode="500" redirect="~/pages/customErrors/500.html"/>
      <error statusCode="501" redirect="~/pages/customErrors/501.html"/>
      <error statusCode="502" redirect="~/pages/customErrors/502.html"/>
    </customErrors>

    <compilation debug="false" strict="true" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <pages buffer="true" autoEventWireup="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="true" viewStateEncryptionMode="Always" clientIDMode="Static" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <!-- <add tagPrefix="eo" namespace="Proiecto.UI.Web.UControls" assembly="Proiecto.UI"/> -->
      </controls>
    </pages>
    <sessionState mode="StateServer" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424" timeout="13"/>

  </system.web>

  <!--
  <system.net>
    <mailSettings>
      <smtp from="Edward.Ocando@SoyDesarrollador.net" deliveryMethod="Network">
        <network host="smtp.sendgrid.net" password="***" userName="***" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  -->

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="67108864"/>
        <!-- 
        Para solventar error cuando el resultado jSON es muy pesado
        3,145,728   =  3,072 Kb   = 3 MB (3145728)
        67,108,864  =  65,536 Kb  = 64 MB (67108864)
        134,217,728 =  131,072 Kb = 128 MB (134217728)
        maxJsonLength: Specifies the maximum length of the JSON string in bytes
        (the maximum number of UTF-8 characters). The default length is 102,400 (100K). 
      -->
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
<!--
* ====================================================================
* Copyright 1997, 2021. Proiecto, C. A. Todos los derechos reservados.
* Proiecto, Proiecto BackOffice, Proiecto BackOffice Server, Proiecto Salomón
* y Proiecto Web Services, son marcas registradas de Proiecto, C. A.
* El eslogan: 'Plataforma de servicios en la nube', es marca registrada de
* Proiecto, C. A. Otros productos citados son marcas registradas de sus
* respectivos propietarios y/o fabricantes.
* Producto desarrollado por Edward Ocando con licencia para uso exclusivo de
* Proiecto, C. A. Para más información visite https://www.proiecto.net, ó 
* si lo desea, puede escribir a: 
* info@proiecto.net, ventas@proiecto.net ó soporte@proiecto.net
* ====================================================================
* THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND,
* EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
* OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
* WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
* ====================================================================
-->